<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tetapdirumah.selfcheck">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.ViewRiwayat"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCLCLOJRjOYhZnDRlwN-HNrbJPGircSI1g" />

        <activity android:name=".view.ViewKonfirmasi"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ViewResult"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.ViewForm"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.ViewFormIdentitas"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.ViewHome"
            android:screenOrientation="portrait"/>
    </application>

</manifest>